.login-form{
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
}

.login-form label{
    display: block;
    margin-bottom: 6px;
}
.login-form span{
    display: block;
    margin-bottom: 6px;
}
.login-form input{
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.2s;
}

.error {
    color: red;
    background-color: #fdd;
    border: 1px solid red;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
  }
  